@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
  --background: rgb(228, 220, 186);
  --foreground: rgb(38, 44, 55);
  --card: rgb(217, 206, 168);
  --card-foreground: rgb(38, 44, 55);
  --popover: rgb(217, 206, 168);
  --popover-foreground: rgb(38, 44, 55);
  --primary: rgb(242, 21, 97);
  --primary-foreground: rgb(250, 250, 250);
  --secondary: rgb(235, 229, 200);
  --secondary-foreground: rgb(34, 38, 48);
  --muted: rgb(235, 229, 200);
  --muted-foreground: rgb(97, 104, 122);
  --accent: rgb(61, 92, 181);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(255, 61, 61);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(202, 191, 143);
  --input: rgb(202, 191, 143);
  --ring: rgb(242, 21, 97);
  --chart-1: rgb(242, 153, 77);
  --chart-2: rgb(67, 159, 104);
  --chart-3: rgb(54, 77, 92);
  --chart-4: rgb(246, 202, 110);
  --chart-5: rgb(250, 186, 86);
  --radius: 0.5rem;
  --sidebar-background: rgb(217, 206, 168);
  --sidebar-foreground: rgb(38, 44, 55);
  --sidebar-primary: rgb(242, 21, 97);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(235, 229, 200);
  --sidebar-accent-foreground: rgb(34, 38, 48);
  --sidebar-border: rgb(210, 197, 130);
  --sidebar-ring: rgb(242, 21, 97);
  }
  .dark {
  --background: rgb(228, 220, 186);
  --foreground: rgb(38, 44, 55);
  --card: rgb(217, 206, 168);
  --card-foreground: rgb(38, 44, 55);
  --popover: rgb(217, 206, 168);
  --popover-foreground: rgb(38, 44, 55);
  --primary: rgb(242, 21, 97);
  --primary-foreground: rgb(250, 250, 250);
  --secondary: rgb(235, 229, 200);
  --secondary-foreground: rgb(34, 38, 48);
  --muted: rgb(235, 229, 200);
  --muted-foreground: rgb(97, 104, 122);
  --accent: rgb(61, 92, 181);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(255, 61, 61);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(202, 191, 143);
  --input: rgb(202, 191, 143);
  --ring: rgb(242, 21, 97);
  --chart-1: rgb(242, 153, 77);
  --chart-2: rgb(67, 159, 104);
  --chart-3: rgb(54, 77, 92);
  --chart-4: rgb(246, 202, 110);
  --chart-5: rgb(250, 186, 86);
  --sidebar-background: rgb(217, 206, 168);
  --sidebar-foreground: rgb(38, 44, 55);
  --sidebar-primary: rgb(242, 21, 97);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(235, 229, 200);
  --sidebar-accent-foreground: rgb(34, 38, 48);
  --sidebar-border: rgb(210, 197, 130);
  --sidebar-ring: rgb(242, 21, 97);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
